body {
	font-size: 16px;
}

.container {
	border: 1px solid #000;
	max-width: 400px;
	margin: 20px auto;
}


li {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

.markedDone {
	text-decoration: line-through;
	color: #666;
}